:root {
    --background: #ffffff;
    --text: #000000;
    --prompt: rgb(240, 154, 74);
    --command: rgb(255, 7, 7);
}

.blogArticle {
    border: 2px solid plum;
    border-radius: 10px;
    max-width: 400px;
    max-height: 350px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}
.blogArticle:hover {
    box-shadow: 0 0 0.5em 0 #5e5e5e;
    border-color: plum;
}
* {
    font-size: 20px;
}
body {
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: var(--background);
    background-size: 100%;
    position: relative;
    margin: 10px;
}

body .plane {
    margin: 10px;
    font-family: monospace;
    position: relative;
    right: -500px;
    background-color: var(--background);
    color: var(--text);
    opacity: 0.9;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    z-index: 99;
}

@keyframes example {
    0% {
        color: black;
        left: 0%;
    }
    100% {
        color: #ffffff;
        left: 100%;
    }
}

body .inlineContainer {
    display: inline-flex;
}
body .commandName {
    color: var(--command);
}
body .avatar {
    margin-left: -25px;
    opacity: 0.9;
    width: 155px;
    pointer-events: none;
    height: 175px;
}
body #terminal {
    font-family: monospace;
    color: var(--text);
    height: 95%;
    width: 95%;
}
body #terminal #output {
    margin-bottom: 10px;
}
body #terminal #input {
    margin-top: 20px;
    display: flex;
}
body #terminal #prompt {
    font-weight: 700;
    white-space: nowrap;
}
body #terminal #cmd {
    font-family: monospace;
    font-size: 20px;
    background: 0 0;
    border: none;
    color: var(--text);
    outline: 0;
    transition: caret-color 0.3s ease;
    flex-grow: 1;
}
body #terminal #cmd:focus {
    caret-color: transparent;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        border-right: 10px solid var(--text);
    }
    50% {
        border-right: 10px solid transparent;
    }
}

body #terminal #suggestions {
    margin-top: 10px;
    color: var(--text);
}
body #terminal #suggestions .selected {
    font-weight: 800;
    color: var(--command);
}
body #terminal .ownerTerminal {
    font-size: 20px;
    color: var(--prompt);
}
@keyframes destroyAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(0);
        opacity: 0.2;
    }
}
.command-input {
    font-weight: 400;
}
.command-input.command-entered {
    font-weight: 700;
}
.nameErr {
    font-size: 100px;
}
.descErr {
    font-size: 10px;
}

a {
    color: var(--command);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.neofetchContainer {
    display: flex;
    gap: 20px;
}
  